
<h3 [ngStyle]="educ" >{{education | uppercase }}</h3>

<h4 [class]= "clgClass">{{ college | uppercase }}</h4>

<h4 [class]= "enggClass">{{ engg | titlecase }}</h4>

<p [class]= "sessClass">{{ session | titlecase }}</p>


<h4 [class]= "clgClass">{{ twelth | titlecase }}</h4>
<h4 [class]= "enggClass"> {{ inter| titlecase }}</h4>
<p [class]= "sessClass">{{ sess | titlecase }}</p>

<h4 [class]= "clgClass">{{ school }}</h4>
<h4 [class]= "enggClass">{{ board | titlecase }}</h4>
<p [class]= "sessClass">{{ year | titlecase }}</p>