<div class="top">
<h1 [ngStyle]="color">{{name}}</h1>

<h3 [ngStyle] ="deg">{{branch}}</h3>

<h3 [ngStyle]="prof">{{intro | uppercase }} </h3>
<br>

<ul [ngStyle]="list" >
    <li>
        A dynamic professional with expertise in HTML5, Css3, Javascript, Bootstrap, Core Java, React JS, Angular
    </li>


    <li
        >Proficient in identifying /adopting emerging trends and addressing industry requirements<br> to achieve organisational objectives
        and norms.
    </li>

    <li>
        An excellent team player with a positive attitode ,effective communicator, interpersonal skills,<br> strong analytical and problem
         solving abilities
    </li>
</ul>


</div>
